h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
form{
    width: 30%;
    text-align: center;
    border: 2px solid gray;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
}
span{
    color: red;
    font-size: 12px;
}
label{
    font-size: 30px;
    margin-right: 60px;
}
div{
    margin-top: 20px;
}
button{
    margin-bottom: 10px;
    width: 150px;
    font-size: 25px;
    border-radius: 50px;
    background-color: black;
    color: white;
}